body {
    margin: 0;
}

.nav {
    background-color: rgb(51, 50, 50);
    color: white;
    padding: 0.4rem;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav ul li:not(:last-child) {
    display: none;
}

.nav.show-us-the-menu ul li:not(:last-child){
    display: block;
}

.burger:hover i {
    color: coral;
}

@media screen and (min-width: 600px) {
    .nav ul li:last-child {
        display: none;
    }
    .nav ul li:not(:last-child) {
        display: block;
    }
}